body{
	background-color:#F1E9DD;
	color:pink;
	font-family: secondary;
	text-align:center;
}

a:hover {
	text-decoration:none;
	color:white;
}

a.logo.navbar-brand {
	font-family: logo;
	color:black;
}
a{
	color:#B1D1D3;
	font-size:20px;
	color:white;
}


@font-face{
	font-family:'main';
	src: url("../fonts/main.ttf")
}

@font-face{
	font-family:'secondary';
	src: url("../fonts/secondary.ttf")
}

@font-face{
	font-family:'logo';
	src: url("../fonts/logo.otf")
}

img{
	width:160%;
	padding:0px;
	margin:0px;
}


.navbar-brand {
	height:50px;
}

nav.navbar.navbar-invert {
	margin-bottom:0px;
}

nav {
	background-color: #FED1D1;
}


div.thumbnail {
	background-color:#FED1D1;
}

div.thumbnail img {
	height:250px;
	margin-top:20px;
}
img.strawberry.img-circle{
	height:480px;
}
a.btn.btn-primary{
	background-color:#FDA2A8;
	border:none;
}

a.cupcakeOfTheDay {
	color:white;
	font-size:50px;
}

div.blue.thumbnail {
	background-color:#C2E0E2;
}

a.darkBlue.btn.btn-primary{
	background-color:#9FC5C1;
	border:none;
}



.spacer {
	height: 60px;
}

p.cupcakeOfTheDay {
	color:white;
	font-size:50px;
}

div.header {
	background-color:#D7C1A6;
	height:50px;
}

div.header p{
	font-size:30px;
}

p{
	color:#61464B;
}